<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="/favicon.ico" >
	<link rel="Shortcut Icon" href="/favicon.ico" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5shiv.js"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
	<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<!--/meta 作为公共模版分离出去-->

	<title></title>
	<meta name="keywords" >
	<meta name="description" >
</head>
<body>
<article class="page-container">
	<div class="Huiform">
		<form class="form form-horizontal" id="form-article-add" action="admin-provider-add" th:method="post">
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>活动名：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" class="input-text"  placeholder="" id="aName" name="aName">
				</div>
			</div>
			<!--<div class="row cl">-->
			<!--<label class="form-label col-xs-4 col-sm-2">举办的商家名：</label>-->
			<!--<div class="formControls col-xs-5 col-sm-5">-->
			<!--<input type="text" class="input-text" th:value="${activityVO.provide.pName}" placeholder="" id="pName" name="pName" >-->
			<!--</div>-->
			<!--</div>-->
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">商家名：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="淮北市麒麟有限科技公司" name="name" id="nameId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">商家18位社会统一信用代码或9位组织机构代码：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="" name="code" id="codeId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">机构类型：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="" name="type" id="typeId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>商家成立时间：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<input type="text" name="establishDate"
						   onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd HH:mm' })"
						   id="establishDateId" class="input-text Wdate">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">人员规模：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="199" name="staffCount" id="staffCountId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">研究人员数量：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="199" name="researcherCount" id="staffCountId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">地址：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="安徽省淮北市" name="addr" id="addrId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">开户行：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="中国银行" name="bank" id="bankId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">账号：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="银行的账号" name="cardNo" id="cardNoId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">户名：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="安徽省淮北市" name="cardOwner" id="cardOwnerId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">负责人姓名：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="张三" name="admin" id="adminId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">负责人职务：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="书记" name="adminTitle" id="adminTitleId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">负责人邮箱：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="1451@qq.com" name="adminEmail" id="adminEmailId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">负责人手机：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="18846525654" name="adminPhone" id="adminPhoneId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">联系人姓名：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="" name="contacter" id="contacterId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">联系人职务：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="秘书" name="contactTitle" id="contactTitleId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">联系人邮箱：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="1253@qq.com" name="contactEmail" id="contactEmailId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">联系人手机：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="14561656516" name="contactPhone" id="contactPhoneId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">依托单位名称：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="" name="supportUnit" id="supportUnitId"  />
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">依托单位法定代表人：</label>
				<div class="formControls col-xs-4 col-sm-1" style="padding-right: 0px">
				</div>
				<div class="formControls col-xs-4 col-sm-8" style="padding-left: 0px">
					<input type="text" class="input-text" placeholder="" name="supportAdmin" id="supportAdminId"  />
				</div>
			</div>
			<div><input type="text" name="creater" id="creater" hidden="true" value=""></div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">机构简介：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<textarea name="detail" id="detailId" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入5个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="$.Huitextarealength(this,100)" ></textarea>
					<!--<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>-->
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">研究方向及注意研究内容：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<textarea name="researchContent" id="researchContentId" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入5个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="$.Huitextarealength(this,100)" ></textarea>
					<!--<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>-->
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">可提供的特殊注意服务内容：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<textarea name="mainService" id="mainServiceId" cols="" rows="" class="textarea"  placeholder="说点什么...最少输入5个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="$.Huitextarealength(this,100)" ></textarea>
					<!--<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>-->
				</div>
			</div>
			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
					<button  class="btn btn-primary radius" type="submit" id="btn-edit"><i class="Hui-iconfont">&#xe632;</i> 提交待审核</button>

				</div>
			</div>
		</form>
	</div>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>

<script type="text/javascript" th:inline="javascript">

    $('.skin-minimal input').iCheck({
        checkboxClass: 'icheckbox-blue',
        radioClass: 'iradio-blue',
        increaseArea: '20%'
    });

    $("#form-article-add").validate({
        rules:{
            name :{
                required:true,
                minlength:5,
                maxlength:20
            },
            pName :{
                required:true
            },
            aEndTime :{
                required:true
            },
            aStartTime:{
                required:true
            },
            aDetail:{
                required:true,
                minlength:5,
                maxlength:16
            },
			aUrl:{
                required:true,
				url:true
			},

        },
        onkeyup:false,
        focusCleanup:true,
        success:"valid",
        submitHandler:function(form){
            alert("更新完成");
            $("form").ajaxSubmit(function (data) {

                if (data=="success") {
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.$('#btn-refresh').click();
                    parent.layer.close(index);
                }
                else {
                    alert(data);
                    // var index = parent.layer.getFrameIndex(window.name);
                    // parent.$('#btn-refresh').click();
                    // parent.layer.close(index);
                }
            });

        }
    });

</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>