
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>淮北市创新券</title>
    <meta name="Keywords" content="创新券" />
    <meta name="description" content="淮北市科技创新券,淮北市创新券,淮北创新券,创新券">
    <meta name="author" content="科技服务网">

    <link rel="shortcut icon" th:href="@{front/images/favicon.png}">

    <meta http-equiv="content-Type" content="text/html;charset=Utf-8">
    <meta http-equiv="Content-Language" content="zh-cn" />
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="format-detection" content="telephone=no">
    <meta content="email=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" th:href="@{front/css/layui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{front/css/css.css}" />
    <!--[if lt IE 9]>
    <script th:src="@{front/js/min.js}" type="text/javascript"></script>
    <script th:src="@{front/js/min_1.js}" type="text/javascript"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script th:src="@{front/assets/NewFront/js/placeholder/min.js?v=9.4}" type="text/javascript"></script>
    <![endif]-->
    <!--&lt;!&ndash;[if lt IE 8]>-->
    <!--<script th:src="http://ie7-js.googlecode.com/svn/version/2.0(beta)/IE8.js" type="text/javascript"></script>-->
    <!--<![endif]&ndash;&gt;-->
    <style>
        .layui-carousel {
            background-color: #f3f3f2 !important;
        }

        .layui-form-item {
            margin: 0;
        }

        .layui-input-block {
            margin: 0;
        }

        select {
            width: 130px;
            border: none;
            background: none;
        }
    </style>
</head>
<body>

    <header>
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-lg6 layui-col-xs6 layui-col-md6">
                    <h4>欢迎进入淮北市创新券网站！</h4>
                </div>
                <div class="layui-col-lg6 layui-col-xs6  layui-col-md6 search" style="float: right;text-align: right;">
                    <a href="/Login/Login" style="color:#0072c6;">登录</a>/<a href="/Login/Register">注册</a>
                </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="layui-container">
            <div class="layui-low">
                <div class="layui-col-lg4 layui-col-md4 layui-col-xs4">
                    <img th:src="@{front/images/logo.png}" />
                </div>
                <div class="layui-col-lg8 layui-col-md8 layui-col-xs8">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                            <ul class="layui-tab-title ulnav">
                                <li class="layui-this"><a href="/Home/HebVouchers">首页</a></li>
                                <li> <a href="/Home/VouchersPolicy">政策介绍</a></li>
                                <li> <a href="/Home/VouchersNews">最新动态</a></li>
                                <li> <a href="/Home/AuditInstitutions">审核发放机构</a></li>
                                <li>
                                    <a class="OpeningLabs">服务提供机构<i class="layui-icon layui-icon-triangle-r"></i></a>
                                    <div class="menuList">
                                        <ul>
                                            <li><a href="OpeningLabs.html"><span style="display: inline-block;width: 30px;"><img th:src="@{front/images/blockicon.png}" /></span>河北省服务提供机构</a></li>
                                            <li><a href="Sciencetechnology.html"><span style="display: inline-block;width: 30px;"><img th:src="@{front/images/blockicon.png}" /></span>京津冀开放实验室</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li style="padding-right: 0 !important;"><a href="/Home/VouchersIntermediarys">服务中介介绍</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="banner">
        <div class="layui-carousel" id="carousel" lay-filter="test1">
            <div id="carousel-item" carousel-item style="width: 100%;">
                <div><img src="front/images/banner1.jpg" /></div>
                <div><img src="front/images/banner2.jpg" /></div>
                <div><img src="front/images/banner4.jpg" /></div>
                <div><img src="front/images/banner.jpg" /></div>
            </div>
        </div>
    </div>
    <section>
        <div class="row">
            <div class="layui-col-lg8 layui-col-md8 layui-col-xs8 titleone">
                <h5>
                    <img src="front/images/title1.png" style="width: 180px !important;" />
                </h5>
                <div class="titleonecontent">
                    <div class="row">
                        <div class="layui-col-lg5 layui-col-md5 layui-col-xs5 contentone" style="position: relative;">
                            <img src="front/images/picture.png" class="img-inner" />
                        </div>
                        <div class="layui-col-lg7 layui-col-md7 layui-col-xs7 ">
                            <p>
                                为贯彻落实省委省政府<span><a style="color: #0072c6;" title="点击下载《关于深化科技体制改革加快推进创新发展的实施意见》" href="/Document/关于深化科技体制改革加快推进创新发展的实施意见.doc">《关于深化科技体制改革加快推进创新发展的实施意见》</a></span>（冀发〔2015〕14号）科技型中小企业的文件精神，充分调动科技型中小企业和创新创业团队的创新积极性，激励高校、科研院所等科技服务提供机构（以下简称“服务提供机构”）提供创新服务的主动性和积极性，省科技厅和省财政厅决定实施河北省科技创新券（以下简称“创新券”）制度，特制定<span><a style="color: #0072c6;" title="点击下载《河北省科技创新券实施细则》" href="/Document/河北省科技创新券实施细则.doc">河北省科技创新券实施细则</a></span>。<br />
                                创新券是由政府向科技型中小企业和创新创业团队免费发放的权益凭证，主要用于鼓励科技型中小企业和创新创业团队充分利用高等院校、科研院所等创新服务提供机构的资源开展研发活动和科技创新。收取创新券的单位持创新券到指定单位兑换。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-lg4 layui-col-md4 layui-col-xs4 titletwo">
                <h5>
                    <img src="front/images/title.png" style="width: 140px !important;" />
                    <a href="/Home/VouchersNews" style="display:inline-block;float: right;height: 34px;"><img src="front/images/more.png" class="imgtwo" style="width: 40px !important;" /></a>
                </h5>
                <div class="titleonecontentwo">
                    <div class="row">
                        <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 contentwo">
                            <div>
                                <ul id="ul_news"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row layui-clear" style="overflow: hidden;">
            <div class="clearfix"></div>
            <div class="titletwocontent">
                <ul>
                    <li onclick="javascript: window.location.href = '/Home/OpeningLabs'">
                        <h4>服务提供机构数量</h4>
                        <p><span style="color: #f59c00;">135</span>个</p>
                    </li>
                    <li>
                        <h4>当前批次</h4>
                        <p><span style="color: #dc3c00;">2017.1</span>个</p>
                    </li>
                    <li>
                        <h4>批次总额度</h4>
                        <p><span style="color: #0072c6;"><span id="Sp_TotalAmount"></span></span>万元</p>
                    </li>
                    <li>
                        <h4>申领开始时间</h4>
                        <p><span style="color: #9c56b9;"><span id="Sp_Time">2017-12-06</span></span></p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" style="margin-top: 30px;">
            <div class="layui-col-lg8 layui-col-md8 layui-col-xs8 titleone">
                <h5>
                    <img src="front/images/title3.png" style="width: 180px !important;" />
                </h5>
                <div class="titleonecontent" style="height: 360px;">
                    <div class="row">
                        <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 contenthree">
                            <h4><img src="front/images/name.png" class="img-inner" /></h4>

                        </div>
                        <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 ">
                            <p>
                                <img src="front/images/procedure.png" />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-lg4 layui-col-md4 layui-col-xs4 titletwo">
                <h5>
                    <img src="front/images/title2.png" style="width: 140px !important;" />
                    <a href="/innovationVoucher.html" style="display:inline-block;float: right;height: 34px;"><img src="front/images/more.png" class="imgtwo" style="width: 40px !important;" /></a>
                </h5>
                <div class="titleonecontentwo" style="height: 360px;">
                    <div class="row">
                        <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 contentwo">
                            <div style="height: 340px;">
                                <ul>
                                    <li><a href="/innovationVoucher.html">申请科技创新券有哪些好处？</a></li>
                                    <li><a href="/innovationVoucher.html">科技创新券发给哪些企业？</a></li>
                                    <li><a href="/innovationVoucher.html">科技创新券如何领取？</a></li>
                                    <li><a href="/innovationVoucher.html">每家企业能领多少创新券？</a></li>
                                    <li><a href="/innovationVoucher.html">对于创新券的使用有什么要求？</a></li>
                                    <li><a href="/innovationVoucher.html">科技创新券可以在哪儿使用？</a></li>
                                    <li><a href="/innovationVoucher.html">科技创新券的受理单位有哪些？</a></li>
                                    <li class="ulli"><a href="/innovationVoucher.html">如何才能成为科技创新券受理单位？</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="margin-top: 45px;">
            <div class="layui-col-lg6 layui-col-md6 layui-col-xs6 titleone">
                <h5>
                    <img src="front/images/title5.png" style="width: 180px !important;" />
                </h5>
                <div class="titleonecontent" style="height:415px;">
                    <div class="row">
                        <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 contentwo">
                            <div style="height: 394px;">
                                <a href="/Home/OpeningLabs">
                                    <p class="layui-col-lg12 layui-col-md12 layui-col-xs12"><img th:src="@{front/images/service.png}" width="100%" /></p>
                                    <p class="layui-col-lg6 layui-col-md6 layui-col-xs6">
                                        <img src="front/images/service_logo1.png" />
                                    </p>
                                    <p class="layui-col-lg6 layui-col-md6 layui-col-xs6">
                                        <img src="front/images/service_logo2.png" />
                                    </p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="layui-col-lg6 layui-col-md6 layui-col-xs6 titletwo">
                <h5>
                    <img src="front/images/title4.png" style="width: 140px !important;" />
                    <a href="/Operationhelp.html" style="display:inline-block;float: right;height: 34px;"><img src="front/images/more.png" class="imgtwo" style="width: 40px !important;" /></a>
                </h5>
                <div class="titleonecontentwo" style="height: 415px;">
                    <div class="row">
                        <div class="layui-col-lg12 layui-col-md12 layui-col-xs12 contentwo">
                            <div style="height: 394px;">
                                <ul>
                                    <li><a href="/Operationhelp.html">注册信息填写完整了，但提交时提示企业不存在？</a></li>
                                    <li><a href="/Operationhelp.html">填写申请表已经填写服务提供机构了但提交时还是提示填写服务提供机构？</a></li>
                                    <li><a href="/Operationhelp.html"> 申请表用途已经填写了，提交的时候提示请填写使用用途？</a></li>
                                    <li><a href="/Operationhelp.html">申领创新券的申请表已经审核通过，什么时候可以发放创新券？</a></li>
                                    <li><a href="/Operationhelp.html">申领创新券的申请已经审核通过为什么没有发券？</a></li>
                                    <li><a href="/Operationhelp.html">新注册的企业，近两年没有相关收入是否可以领创新券？</a></li>
                                    <li><a href="/Operationhelp.html">服务提供机构是否可以领券用券？</a></li>
                                    <li><a href="/Operationhelp.html">已经领到创新券，怎么用？接下来要做什么？</a></li>
                                    <li><a href="/Operationhelp.html">已领用的创新券，付给服务提供机构后需要对方开具发票吗？</a></li>
                                    <li class="ulli"><a href="/Operationhelp.html">领了创新券后，实际合作的服务提供机构是否可以和填写申请表时的服务提供机构不一致？</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </section>
    <div class="footer">
        <div class="foot">
            <div class="footcontent">
                <ul>
                    <li>
                        <h4>申报咨询电话</h4>
                        <p>0311-83110111</p>
                    </li>
                    <li>
                        <h4 style="color: #59CE68;">申领开始时间</h4>
                        <p>2017年12月06日</p>
                    </li>
                    <li>
                        <h4 style="color: #ff9900;">申领方式</h4>
                        <p>平台在线申领</p>
                        <p>可致电我们进行咨询</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="footbottom">
            <p>版权所有：淮北市科学技术厅  运维单位：淮北市麒麟信息科技有限公司  服务热线：0311-83110111</p>
        </div>
    </div>
    <div id="Mymodel" class="modal" style="display: none;">
        <div class="modal-content">
            <!--页面中各字段-->
            <div class="modal-body" id="modal-Service1" style="max-height: 598.5px;">
                <div id="myTabContent1" class="tab-content">
                    <div class="kjq_help" style="margin: 20px 50px">
                        <div id="div_html"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="front/js/layui.all.js"></script>
    <script type="text/javascript" src="front/js/jquery-1.10.1.min.js"></script>
    <script>
        //layui点击导航切换页面
        layui.use(['element', 'carousel'], function () {
            var element = layui.element,//导航的hover效果、二级菜单等功能，需要依赖element模块
                carousel = layui.carousel;
            //监听导航点击
            element.on('nav(demo)', function (elem) { });
            var imgH = $('#carousel-item img')[0].height;
            $('#carousel-item').height(imgH);
            window.onload = function () {
                var bannerH = $('#carousel-item img')[0].height;
                $('#carousel-item').css('height', bannerH + 'px');
            }
            carousel.render({
                elem: '#carousel'
                , arrow: 'always'
                , width: "100%"
                , height: "auto"
            });
        });


    </script>
    <script type="text/javascript" src="front/js/footer.js"></script>
    <script type="text/javascript">
        function formatNumber(num) {
            var source = String(num).split(".");//按小数点分成2部分
            source[0] = source[0].replace(new RegExp('(\\d)(?=(\\d{3})+$)', 'ig'), "$1,");//只将整数部分进行都好分割
            return source.join(".");//再将小数部分合并进来
        }
        //网站维护
        //$(document).ready(function () {
        //    alert("    创新券平台内部测试中，正式发布前将会把内部测试数据全部清空，具体开放时间请查看科技厅网站，创新劵平台和微信公众号。");
        //});

        // var _hmt = _hmt || [];
        // (function () {
        //     var hm = document.createElement("script");
        //     hm.src = "//hm.baidu.com/hm.js?e3dde0791e1ea1c055b4b0b47418cd6c";
        //     var s = document.getElementsByTagName("script")[0];
        //     s.parentNode.insertBefore(hm, s);
        // })();

        $(function () {
            var navigatorName = "Microsoft Internet Explorer";
            var isIE = false;
            if (navigator.appName == navigatorName) {
                alert("您目前使用的ie浏览器版本过低，可能会影响浏览效果，为了保证页面的美观和兼容性，请改用10.0以上版本！")

            } else {
            }

        });
        $("#Sp_TotalAmount").html(formatNumber(8000.00));
        $.post("#", {}, function (data) {
            var num = 0;
            for (var o in data) {
                if (num > 10)
                    break;
                $("#ul_news").append("<li><a href='javascript:Look(" + data[o].TableID + ");'>" + data[o].Title + "</a></li>");
            }
        });
        function Look(id) {
            $("#tr_file").hide();
            $("#div_html").html("");
            $.post("/Home/GetNewsNotice", { id: id }, function (data) {
                if (data.Title != "") {
                    var html = HtmlUtil.htmlDecode(data.Detail);
                    $("#div_html").html(html);

                    if ((data.File != null & data.File != "") == 1) {
                        $("#tr_file").show();
                        $("#div_file").html("<a type=\"text\" title='下载' href=\"" + data.File + "\"  target='_blank'><img src='images/download.png' class=\"ic_PNG\"></img><span  style='font-size:8pt'>下载附件</span></a>");
                    }
                    layer.open({
                        title: data.Title,
                        type: 1,
                        skin: 'layui-layer-rim', //加上边框
                        area: ['1204px', 'auto'], //宽高
                        content: $("#Mymodel"),
                        end: function () { //关闭后回调函数
                            $('.modal').hide();
                        }
                    });
                }
            });
        }
        var HtmlUtil = {
            /*1.用浏览器内部转换器实现html转码*/
            htmlEncode: function (html) {
                //1.首先动态创建一个容器标签元素，如DIV
                var temp = document.createElement("div");
                //2.然后将要转换的字符串设置为这个元素的innerText(ie支持)或者textContent(火狐，google支持)
                (temp.textContent != undefined) ? (temp.textContent = html) : (temp.innerText = html);
                //3.最后返回这个元素的innerHTML，即得到经过HTML编码转换的字符串了
                var output = temp.innerHTML;
                temp = null;
                return output;
            },
            /*2.用浏览器内部转换器实现html解码*/
            htmlDecode: function (text) {
                //1.首先动态创建一个容器标签元素，如DIV
                var temp = document.createElement("div");
                //2.然后将要转换的字符串设置为这个元素的innerHTML(ie，火狐，google都支持)
                temp.innerHTML = text;
                //3.最后返回这个元素的innerText(ie支持)或者textContent(火狐，google支持)，即得到经过HTML解码的字符串了。
                var output = temp.innerText || temp.textContent;
                temp = null;
                return output;
            }
        };
    </script>
</body>
</html>
