
<!DOCTYPE html>
<html>
<head>
    <title>河北省创新券</title>
    <meta name="Keywords" content="创新券" />
    <meta name="description" content="河北省科技创新券,河北省创新券,河北创新券,创新券">
    <meta name="author" content="科技服务网">
    <meta http-equiv="content-Type" content="text/html;charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-cn" />
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta name="format-detection" content="telephone=no">
    <meta content="email=no" name="format-detection" />
    <link rel="shortcut icon" href="images/favicon.png">
    <title>河北省创新券</title>
    <link rel="stylesheet" type="text/css" href="css/layui.css" />
    <link rel="stylesheet" type="text/css" href="css/css.css" />
    <!--[if lt IE 9]>
    <script src='js/min.js' type='text/javascript'></script>
    <script src='js/min_1.js' type='text/javascript'></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src='/assets/NewFront/js/placeholder/min.js?v=9.4' type='text/javascript'></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <script src='http://ie7-js.googlecode.com/svn/version/2.0(beta)/IE8.js" type="text/javascript"></script>
    <![endif]-->
    <style>
        .layui-carousel {
            background-color: #f3f3f2 !important;
        }
    </style>
   <!--  <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?e3dde0791e1ea1c055b4b0b47418cd6c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script> -->
</head>
<body>

    <header>
        <div class="layui-container">
            <div class="layui-row">
                <div class="layui-col-lg6 layui-col-xs6 layui-col-md6">
                    <h4>欢迎进入河北省创新券网站！</h4>
                </div>
                <div class="layui-col-lg6 layui-col-xs6  layui-col-md6 search" style="float: right;text-align: right;">
                    <a href="/Login/Login" style="color:#0072c6;">登录</a>/<a href="/Login/Register">注册</a>
                </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="layui-container">
            <div class="layui-low">
                <div class="layui-col-lg4 layui-col-md4 layui-col-xs4">
                    <img src="images/logo.png" />
                </div>
                <div class="layui-col-lg8 layui-col-md8 layui-col-xs8">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                            <ul class="layui-tab-title ulnav">
                                <li><a href="/Home/HebVouchers">首页</a></li>
                                <li> <a href="/Home/VouchersPolicy">政策介绍</a></li>
                                <li> <a href="/Home/VouchersNews">最新动态</a></li>
                                <li class="layui-this"> <a href="/Home/AuditInstitutions">审核发放机构</a></li>
                                <li>
                                    <a class="OpeningLabs">服务提供机构<i class="layui-icon layui-icon-triangle-r"></i></a>
                                    <div class="menuList">
                                        <ul>
                                            <li><a href="/Home/OpeningLabs"><span style="display: inline-block;width: 30px;"><img src="images/blockicon.png" /></span>河北省服务提供机构</a></li>
                                            <li><a href="/Home/Sciencetechnology"><span style="display: inline-block;width: 30px;"><img src="images/blockicon.png" /></span>京津冀开放实验室</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li style="padding-right: 0 !important;"><a href="/Home/VouchersIntermediarys">服务中介介绍</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="banner">
        <div class="layui-carousel" id="carousel" lay-filter="test1">
            <div id="carousel-item" carousel-item style="width: 100%;">
                <div><img src="images/banner1.jpg" /></div>
                <div><img src="images/banner2.jpg" /></div>
                <div><img src="images/banner4.jpg" /></div>
                <div><img src="images/banner.jpg" /></div>>
            </div>
        </div>
    </div>

    <section style="padding-top: 0;background: #fff;">
        <div class="row">
            <div class="layui-tab layuitab layui-col-lg12 layui-col-md12 layui-col-xs12">
                <ul class="layui-tab-title layuititle layui-col-lg2 layui-col-md2 layui-col-xs2">
                    <li><a href="/Home/VouchersPolicy">政策介绍</a></li>
                    <li><a href="/Home/VouchersNews">最新动态</a></li>
                    <li class="layui-this"><a href="/Home/AuditInstitutions">审核发放机构</a></li>
                    <li><a href="/Home/OpeningLabs">河北省服务提供机构</a></li>
                    <li><a href="/Home/Sciencetechnology">京津冀开放实验室</a></li>
                    <li><a href="/Home/VouchersIntermediarys">服务中介介绍</a></li>
                    <li><a href="/innovationVoucher.html">创新券政策解答</a></li>
                    <li><a href="/Operationhelp.html">创新券操作帮助</a></li>
                </ul>
                <div class="layui-tab-content layuicontent layui-col-lg10 layui-col-md10 layui-col-xs10">
                    <div class="layui-tab-item  layui-show layuilist " style="float: right;width: 98%;">
                        <table cellspacing="0" cellpadding="0" border="0" class="layui-table">
                            <thead>
                                <tr>

                                    <th>
                                        序号
                                    </th>

                                    <th>
                                        审核发放机构名称
                                    </th>
                                    <th>
                                        联系人
                                    </th>
                                    <th>
                                        联系电话
                                    </th>
                                    <th>
                                        联系地址
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-index="5" class="layui-table-hover">
                                    <td data-field="sign" data-minwidth="100">
                                        1
                                    </td>
                                    <td data-field="experience">
                                        <a onclick="Look(1); return false;">科技服务网</a>
                                    </td>
                                    <td data-field="score">
                                        欧艳冬
                                    </td>
                                    <td data-field="classify">
                                        0311-83110111、0311-66161060
                                    </td>
                                    <td data-field="wealth">
                                        石家庄高新区长江大道长江道壹号
                                    </td>
                                </tr>
                                <tr data-index="5" class="layui-table-hover">
                                    <td data-field="sign" data-minwidth="100">
                                        2
                                    </td>
                                    <td data-field="experience">
                                        <a onclick="Look(2); return false;">河北省协同创新中心</a>
                                    </td>
                                    <td data-field="score">
                                        苏爱勤
                                    </td>
                                    <td data-field="classify">
                                        0311-86056738、18631151595
                                    </td>
                                    <td data-field="wealth">
                                        石家庄市裕华东路105号
                                    </td>
                                </tr>
                                <tr data-index="5" class="layui-table-hover">
                                    <td data-field="sign" data-minwidth="100">
                                        3
                                    </td>
                                    <td data-field="experience">
                                        <a onclick="Look(3); return false;">	石家庄高新技术创业服务中心</a>
                                    </td>
                                    <td data-field="score">
                                        王拓
                                    </td>
                                    <td data-field="classify">
                                        0311-83818940、15831181926
                                    </td>
                                    <td data-field="wealth">
                                        石家庄市新石北路368号
                                    </td>
                                </tr>
                                <tr data-index="5" class="layui-table-hover">
                                    <td data-field="sign" data-minwidth="100">
                                        4
                                    </td>
                                    <td data-field="experience">
                                        <a onclick="Look(4); return false;">	石家庄科技大市场</a>
                                    </td>
                                    <td data-field="score">
                                        胡红燕
                                    </td>
                                    <td data-field="classify">
                                        0311-89928359
                                    </td>
                                    <td data-field="wealth">
                                        石家庄高新区黄河大道136号
                                    </td>
                                </tr>
                                <tr data-index="5" class="layui-table-hover">
                                    <td data-field="sign" data-minwidth="100">
                                        5
                                    </td>
                                    <td data-field="experience">
                                        <a onclick="Look(5); return false;">	廊坊市生产力促进中心</a>
                                    </td>
                                    <td data-field="score">
                                        段学维
                                    </td>
                                    <td data-field="classify">
                                        0316-2235603
                                    </td>
                                    <td data-field="wealth">
                                        廊坊市龙河工业园富康道145号科技成果孵化园19号楼
                                    </td>
                                </tr>
                                <tr data-index="5" class="layui-table-hover">
                                    <td data-field="sign" data-minwidth="100">
                                        6
                                    </td>
                                    <td data-field="experience">
                                        <a onclick="Look(6); return false;">	沧州市科技金融服务办公室</a>
                                    </td>
                                    <td data-field="score">
                                        刘逸舒
                                    </td>
                                    <td data-field="classify">
                                        0317-2129776
                                    </td>
                                    <td data-field="wealth">
                                        沧州市解放西路42号
                                    </td>
                                </tr>
                                <tr data-index="5" class="layui-table-hover">
                                    <td data-field="sign" data-minwidth="100">
                                        7
                                    </td>
                                    <td data-field="experience">
                                        <a onclick="Look(7); return false;">	中国科学院唐山高新技术研究与转化中心</a>
                                    </td>
                                    <td data-field="score">
                                        刘雪静
                                    </td>
                                    <td data-field="classify">
                                        0315-3476397
                                    </td>
                                    <td data-field="wealth">
                                        唐山市高新区卫国路与大庆道交叉口（唐山科技中心4层）
                                    </td>
                                </tr>
                                <tr data-index="5" class="layui-table-hover">
                                    <td data-field="sign" data-minwidth="100">
                                        8
                                    </td>
                                    <td data-field="experience">
                                        <a onclick="Look(8); return false;">	张家口市生产力促进中心</a>
                                    </td>
                                    <td data-field="score">
                                        张志明
                                    </td>
                                    <td data-field="classify">
                                        0313-4195823
                                    </td>
                                    <td data-field="wealth">
                                        张家口市清水河南路科技局办公楼502室
                                    </td>
                                </tr>
                                <tr data-index="5" class="layui-table-hover">
                                    <td data-field="sign" data-minwidth="100">
                                        9
                                    </td>
                                    <td data-field="experience">
                                        <a onclick="Look(9); return false;">	衡水市生产力促进中心</a>
                                    </td>
                                    <td data-field="score">
                                        张国军
                                    </td>
                                    <td data-field="classify">
                                        0318-5265200
                                    </td>
                                    <td data-field="wealth">
                                        衡水市桃城区新华西路468号
                                    </td>
                                </tr>
                                <tr data-index="5" class="layui-table-hover">
                                    <td data-field="sign" data-minwidth="100">
                                        10
                                    </td>
                                    <td data-field="experience">
                                        <a onclick="Look(10); return false;">	承德市生产力促进中心</a>
                                    </td>
                                    <td data-field="score">
                                        杨甲忠
                                    </td>
                                    <td data-field="classify">
                                        0314-2383069
                                    </td>
                                    <td data-field="wealth">
                                        承德市行政中心西楼524室
                                    </td>
                                </tr>
                                <tr data-index="5" class="layui-table-hover">
                                    <td data-field="sign" data-minwidth="100">
                                        11
                                    </td>
                                    <td data-field="experience">
                                        <a onclick="Look(11); return false;">辛集市科技创新服务中心</a>
                                    </td>
                                    <td data-field="score">
                                        张乔
                                    </td>
                                    <td data-field="classify">
                                        0311-83308695
                                    </td>
                                    <td data-field="wealth">
                                        河北省辛集市国际皮革城一楼（南二号门）
                                    </td>
                                </tr>
                                <tr data-index="5" class="layui-table-hover">
                                    <td data-field="sign" data-minwidth="100">
                                        12
                                    </td>
                                    <td data-field="experience">
                                        <a onclick="Look(12); return false;">保定市生产力促进中心</a>
                                    </td>
                                    <td data-field="score">
                                        王杰
                                    </td>
                                    <td data-field="classify">
                                        0312-6776360、0312-6776361
                                    </td>
                                    <td data-field="wealth">
                                        保定市朝阳北大街1799号中关村创新中心A座607
                                    </td>
                                </tr>
                                <tr data-index="5" class="layui-table-hover">
                                    <td data-field="sign" data-minwidth="100">
                                        13
                                    </td>
                                    <td data-field="experience">
                                        <a onclick="Look(13); return false;">秦皇岛市生产力促进中心</a>
                                    </td>
                                    <td data-field="score">
                                        王保权
                                    </td>
                                    <td data-field="classify">
                                        0335-3639706
                                    </td>
                                    <td data-field="wealth">
                                        河北省秦皇岛市海港区迎宾路98号
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>

    </section>
    <div class="footer">
        <div class="foot">
            <div class="footcontent">
                <ul>
                    <li>
                        <h4>申报咨询电话</h4>
                        <p>0311-83110111</p>
                    </li>
                    <li>
                        <h4 style="color: #59CE68;">申领开始时间</h4>
                        <p>2017年12月06日</p>
                    </li>
                    <li>
                        <h4 style="color: #ff9900;">申领方式</h4>
                        <p>平台在线申领</p>
                        <p>可致电我们进行咨询</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="footbottom">
            <p>版权所有：河北省科学技术厅  运维单位：河北百汇广联科技服务有限公司  服务热线：0311-83110111</p>
        </div>
    </div>
    <div id="Mymodel1" class="modal" style="display: none;">
        <div class="modal-content">

            <!--页面中各字段-->
            <div class="modal-body" id="modal-Service1" style="max-height: 598.5px;">
                <div id="myTabContent1" class="tab-content">
                    <div class="kjq_help" style="margin: 20px 50px">
                        <p class="mt15" style="text-align:center;"><span style="font-size: 26px; color: #fe9305; font-family: 'Microsoft YaHei'; ">河北百汇广联科技服务有限公司</span></p>
                        <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">为科技服务网运营单位，以互联网为载体，汇聚了全省广泛的专家资源和企业需求。科技服务网是河北省技术转移机构、京津冀技术转移联盟会员单位，公司致力于促进京津冀技术转移工作。</p>
                        <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">设立专门的创新券政务部及相关服务人员10人，组织专门的审核小组，在创新券平台上承担审核发放机构相关工作。拥有自己的网站平台和微信公众号；和河北省多所高校、科研院所建有战略合作关系，并促进了一些产学研合作，可向广大科技型中小企业和创新创业团队及高校、科研院所等推广创新券应用。</p>
                        <p id="page7" class="mt5" style="color:#1153a1;line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">联系人：欧艳冬、陈骏：0311-83110111、0311-66161060</p>
                        <p class="bk_d_b_1_ddd pt15"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Mymodel3" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">

            <!--页面中各字段-->
            <div class="modal-body" id="modal-Service3">
                <div class="kjq_help" style="margin: 20px 50px">
                    <p class="mt15" style="text-align:center;"><span style="font-size: 26px; color: #fe9305; font-family: 'Microsoft YaHei'; ">石家庄高新技术创业服务中心</span></p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">石家庄高新技术创业服务中心成立于1991年6月，是在各级科技主管部门支持下，由石家庄高新技术产业开发区管理委员会主办的社会公益性科技事业服务机构，负责高新区各类孵化器和加速器管理和服务工作,负责高新区创新创业服务体系建设和服务工作。</p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">创业中心是国家级的科技企业孵化器，为企业营造局部优化环境，提供共享设施和优质的服务，降低创业成本与风险，快速、有效的整合技术、人才、资本、信息、市场等创新资源，为企业提供全方位服务，促进科技成果转化，孵育中小科技企业，培育科技企业家。</p>
                    <p id="page7" class="mt5" style="color:#1153a1;line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">联系人：王拓18633896553、赵跃峰 15831181926</p>
                    <p class="bk_d_b_1_ddd pt15"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="Mymodel4" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">

            <!--页面中各字段-->
            <div class="modal-body" id="modal-Service4">
                <div class="kjq_help" style="margin: 20px 50px">
                    <p class="mt15" style="text-align:center;"><span style="font-size: 26px; color: #fe9305; font-family: 'Microsoft YaHei'; ">石家庄科技大市场</span></p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">石家庄科技大市场隶属于石家庄市科技创新服务中心，主要功能是促进科技交易市场化、科技成果产业化、科技资源共享化、科技服务集成化。整合筛选国内外高新技术成果向科技型中小企业推介，收集、鉴别企业技术需求，组织高校、科研机构与企业对接，联合金融机构开展投融资服务，实现科技资源统筹共享。</p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">大市场的知名度不断扩大，大市场已经与国家有关部门、京津及国内其他省市的技术转移部门和科研机构建立了合作关系，至2016年底引入了27家科技中介机构和16家金融服务机构，设立了8个行政服务窗口；共举办各种活动76场次，推介优秀成果2300余项。石家庄科技大市场作为河北省首家集技术转移、产权交易和科技金融服务为一体的综合性技术交易平台，具备了创新券政策宣传及推广等活动基本要求。大市场将工作重点放在与京津地区加强合作交流，进一步完善跨区域技术转移与成果转化等方面，进一步为中小企业提供更加全面、优质、高效的服务。</p>
                    <p id="page7" class="mt5" style="color:#1153a1;line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">联系人：胡红燕、李青娜 89928359</p>
                    <p class="bk_d_b_1_ddd pt15"></p>
                </div>
            </div>
        </div>
    </div>

    <div id="Mymodel5" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">

            <!--页面中各字段-->
            <div class="modal-body" id="modal-Service5">
                <div class="kjq_help" style="margin: 20px 50px">
                    <p class="mt15" style="text-align:center;"><span style="font-size: 26px; color: #fe9305; font-family: 'Microsoft YaHei'; ">廊坊市生产力促进中心</span></p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">廊坊市生产力促进中心背靠政府、整合各类科技资源，建成科技创新创业、技术产权交易、工业设计制造、大型仪器共享、知识产权、“廊坊生产力”微信公众号、廊坊生产力微信交流群等多个公共服务平台。同时针对中小企业对科技创新的不同需求，量身定制解决方案。在技术转移工作方面，紧紧围绕科技创新创业服务，积极推动中小企业技术创新，与高校、科研院所、科技中介机构等建立合作关系，为中小企业提供多样的技术转移服务，促进域外科技创新成果在我市转移、转化。</p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">在服务中小企业方面，中心根据企业成长阶段和发展情况，采取基础服务与深度服务相结合、公共服务与定制服务相结合的服务方式，创新了“科技管家+创新顾问”的服务模式，推出了创业辅导、创新咨询、技术转移、技术合同登记、知识产权服务、管理培训、企业信息化、科技金融、标准化认证、企业管理培训，服务企业全过程的综合一站式服务。</p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">中心是国家级示范中心，国家级技术转移示范机构，通过了ISO9001国家质量管理体系认证。近年来，中心获得 “全国五一劳动奖状”， “青年文明号十年杰出成就奖”， “全国青年文明号”，“中国技术市场协会金桥奖”，被省科技厅评为“科技型中小企业创新资金工作先进单位”。</p>
                    <p id="page7" class="mt5" style="color:#1153a1;line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">联系人：段学维 0316-2235603</p>
                    <p class="bk_d_b_1_ddd pt15"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="Mymodel6" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">

            <!--页面中各字段-->
            <div class="modal-body" id="modal-Service6">
                <div class="kjq_help" style="margin: 20px 50px">
                    <p class="mt15" style="text-align:center;"><span style="font-size: 26px; color: #fe9305; font-family: 'Microsoft YaHei'; ">沧州市科技金融服务办公室</span></p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">沧州市科技金融服务办公室是隶属于沧州市科技局的全额事业单位，编制5人，现有工作人员4名，人才结构合理，专业性水平很高。主要承担我市科技金融公共服务职能，负责实施政府科技金融项目以及开展科技型企业创新融资服务、科技成果转化融资服务；研究提出科技和金融的深度融合工作安排，组织推动科技金融服务平台建设，建立科技企业上市后备资源库，为优质科技企业提供融资辅导服务。</p>
                    <p id="page7" class="mt5" style="color:#1153a1;line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">联系人：刘逸舒 0317-2129776</p>
                    <p class="bk_d_b_1_ddd pt15"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="Mymodel7" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">

            <!--页面中各字段-->
            <div class="modal-body" id="modal-Service7">
                <div class="kjq_help" style="margin: 20px 50px">
                    <p class="mt15" style="text-align:center;"><span style="font-size: 26px; color: #fe9305; font-family: 'Microsoft YaHei'; ">中国科学院唐山高新技术研究与转化中心</span></p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">中国科学院唐山高新技术研究与转化中心（简称唐山中心）成立于2008年12月，是中科院和唐山市政府合作共建的技术转移转化机构。先后被批准为“河北省中小企业技术创新公共服务示范机构”、“国家技术转移示范机构”、“中国创新驿站河北省基层站点”、“技术合同认定登记机构”和“河北省院士工作管理站”，2015年加入京津冀技术转移协同创新联盟。</p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">唐山中心依托科研院所的创新资源和科技成果，围绕唐山市经济社会发展及建设创新型城市的科技需求，解决制约唐山市企业发展的关键技术难题，搭建科技成果在唐山的转移与转化平台。同时，为我市技术创新主体提供多领域、全方位信息服务，搭建了文献查阅、科技查新、论文收引检索、技术合同认定登记、科技成果评价及在线登记、科技奖励申报咨询、高企申报服务等一站式科技服务平台。</p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">唐山中心现有专业从事科技服务工作人员12人，内设综合事务部、技术转化部和科技服务部。拥有办公场地5071平方米，各类仪器设备480台套，价值1500余万元；建有网站1个，微信公众账号1个。建有创新创业服务平台5个，制订了《中国科学院唐山高新技术研究与转化中心章程》等20多项内部管理制度，保障各项工作有序进行。</p>
                    <p id="page7" class="mt5" style="color:#1153a1;line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">联系人：刘雪静 0315-3476397</p>
                    <p class="bk_d_b_1_ddd pt15"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="Mymodel8" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">

            <!--页面中各字段-->
            <div class="modal-body" id="modal-Service8">
                <div class="kjq_help" style="margin: 20px 50px">
                    <p class="mt15" style="text-align:center;"><span style="font-size: 26px; color: #fe9305; font-family: 'Microsoft YaHei'; ">张家口市生产力促进中心</span></p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">张家口市生产力促进中心隶属于张家口市科技和地震局，是张家口市政府批准成立的背靠政府，面向企业，联合社会科枝力量，为中小企业提供全方位服务的公益事业位。中心目前有在编人员7名，其中硕士研究生一名，五名大学本科生，一名大专生，且基本上都是八零后，素质高，业务能力强，中心在2016年通过GB/T19001/IS09001-2008质量体系认证。</p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">中心主要职能是： 为科技型中小企业和创新团队提供科技政策咨询、科技经济人才政策信息及人才培训。组织与研发机构间的交流合作，进行技术 ( 含管理技术) 的开发、应用、示范推广，开拓国际合作。负责全市技术合同登记认定工作。</p>
                    <p id="page7" class="mt5" style="color:#1153a1;line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">联系人：张志明 0313-4195823</p>
                    <p class="bk_d_b_1_ddd pt15"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="Mymodel9" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">

            <!--页面中各字段-->
            <div class="modal-body" id="modal-Service9">
                <div class="kjq_help" style="margin: 20px 50px">
                    <p class="mt15" style="text-align:center;"><span style="font-size: 26px; color: #fe9305; font-family: 'Microsoft YaHei'; ">衡水市生产力促进中心</span></p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">衡水市生产力促进中心（以下简称中心）成立于2001年，与衡水市科技型中小企业技术创新资金管理中心是一个机构两块牌子，是衡水市科技局直属的公益性事业单位。中心现在干部职工21人，其中中高级职称15人，大专以上学历人员17人。</p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">中心职能：全市科技型中小企业培育认定工作；国家、省科技型中小企业技术创新基（资）金项目申报工作；技术咨询、技术转移等科技服务工作；协助发展计划科做好创新券和科技金融工作；完成局领导交办的其他工作。</p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">
                        中心主要荣誉：
                        2008年，获首批国家级示范生产力促进中心；
                        2009年，中心创新基金工作突出，衡水市科技局是河北省唯一一家受科技部、财政部表彰的市级创新基金工作先进单位；
                        2011年，获河北省科技厅认定的首批“河北省中小企业技术转移公共服务示范机构”
                        2011年，获第五届中国技术市场金桥奖集体奖；
                        2012年，中心通过ISO9000：2008质量管理体系认证；
                        2012年，被河北省大型科学仪器资源共享服务联盟吸收为会员并建立衡水唯一的工作站。
                    </p>
                    <p id="page7" class="mt5" style="color:#1153a1;line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">联系人：张国军 0318-5265200</p>
                    <p class="bk_d_b_1_ddd pt15"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="Mymodel10" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">
            <!--页面中各字段-->
            <div class="modal-body" id="modal-Service10">
                <div class="kjq_help" style="margin: 20px 50px">
                    <p class="mt15" style="text-align:center;"><span style="font-size: 26px; color: #fe9305; font-family: 'Microsoft YaHei'; ">承德市生产力促进中心</span></p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">承德市生产力促进中心成立于2003年,是隶属于承德市科技局的公益一类事业单位。现有工作人员23人，其中，中高级职称15人。中心围绕我市重点产业发展，以高新技术企业、科技型中小企业为主要服务对象，先后被评为省级、国家级示范生产力促进中心，目前我中心被省科技厅认定为省级高新技术企业培育重点服务机构、河北省技术转移联盟成员单位、科技评价服务机构。多次被河北省科技厅、省质量技术监督局和中国生产力促进中心协会表彰奖励。 </p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">
                        目前，中心拥有独立办公场所面积500余平米， 重点承担承德市技术交易市场、高新技术企业培育、大型科研仪器设备共享服务等工作。建有独立的网上平台“承德市技术服务平台”“承德市大型科研仪器设备共享服务平台” “承德中药网”3个线上平台。目前我中心已发展科技服务企业会员单位122家。先后承担国家、省和市科技项目11项，组建有“承德市科技成果转化服务专家库”、“承德市科技型中小企业科技需求库” 。
                    </p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">
                        近年来，承德市生产力促进中心在“京津冀协同发展战略”背景下，积极推进我市科技成果转化工作，促进科技人员为我市产业和企业服务，先后与北京科技大学、中医药大学（北京、天津、东北三省）、天津北方技术交易市场、石家庄技术大市场及河北省内重点高校等50余家技术转移机构和科研单位建立合作关系。谋划并组织了“承德市企业科技沙龙”活动，搭建与全市企业交流服务的平台。2016年以来中心为全市近百家企业提供了技术、政策咨询等服务，共挖掘专利52项、促进签订技术合同20项，组织各类大型培训活动5期，培训企业200余家。
                    </p>
                    <p id="page7" class="mt5" style="color:#1153a1;line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">联系人：杨甲忠 0314-2383069</p>
                    <p class="bk_d_b_1_ddd pt15"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="Mymodel11" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">
            <!--页面头部-->
            <!--页面中各字段-->
            <div class="modal-body" id="modal-Service11">
                <div class="kjq_help" style="margin: 20px 50px">
                    <p class="mt15" style="text-align:center;"><span style="font-size: 26px; color: #fe9305; font-family: 'Microsoft YaHei'; ">辛集市科技创新服务中心</span></p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">辛集市科技孵化中心于2016年12月30日由辛集市机构编制委员会批准成立，具体管理和运营科技企业孵化器。</p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">孵化器规划建筑面积20000平方米，是集科研、中试、生产、办公、展厅为一体的综合性科技企业孵化器。</p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">中心提供政策、管理、法律、财务、融资、申报科技项目等方面的服务，降低企业的创业风险和创业成本，提高企业的成活率和创业成功率，培养成功的科技企业和企业家。</p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">高新技术企业、科技型企业申请入驻后可享受孵化器内优惠政策，孵化器30个虚位以待，诚邀创客入驻孵化。</p>

                    <p id="page7" class="mt5" style="color:#1153a1;line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">联系人：张乔 0311-83308695</p>
                    <p class="bk_d_b_1_ddd pt15"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="Mymodel12" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">
            <!--页面头部-->
            <div class="modal-header">
                <!--关闭按钮-->

            </div>
            <!--页面中各字段-->
            <div class="modal-body" id="modal-Service12">
                <div class="kjq_help" style="margin: 20px 50px">
                    <p class="mt15" style="text-align:center;"><span style="font-size: 26px; color: #fe9305; font-family: 'Microsoft YaHei'; ">保定市生产力促进中心</span></p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">保定市生产力促进中心是保定市科技局直属全额事业单位，于2012年正式组建。中心现有在编人员15人，其中副高级工程师1名，工程师4名，70%均为本科以上学历。单位宗旨：在政府、高校科研院所和企业之间搭建桥梁，为我市中小企业提供科技服务。</p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">保定市生产力促进中心于2012年通过了ISO9001认证，管理规范，运营良好。2014年—2016年被省科技厅评为创新创业大赛组织工作先进集体。2014年被市科技局评为科技管理工作先进单位。2015年被市科技局认定为市级技术转移示范机构。</p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">保定市生产力促进中心所在的中关村创新中心是京津冀协同发展成果转化基地，是在京外设立的首家中关村创新中心。2015年，保定市科技局在A座6层打造了一个旨在为企业和创新创业团队提供全方位、一站式服务的创新创业科技服务平台，由保定市生产力促进中心负责运营。这个平台除了科技创新券审核发放业务，还受理科技型中小企业技术创新资金项目申报、技术合同认定登记、中国创新创业大赛、科技查新、专利代理、高新技术企业信息统计、技术转移和投融资等业务。2016年中心组织47家企业申报2017年度河北省科技型中小企业技术创新资金项目，19家立项，获980万元财政资金支持；2016年，技术合同登记433项，合同交易额9.26亿，位居全省第四名；2016年组织参加中国创新创业大赛的企业和团队98个，位居全省第三名。近年来，通过运营保定市创新创业科技服务平台，组织了多场大型培训会。如：技术合同认定登记培训、研发加计扣除申报培训、创新基金项目申报培训、高新技术企业认定培训等等。2016年举办首都高校成果进保定暨首届京保校企成果转化对接会，北京大学、清华大学等首都高校联合河北大学等驻保高校推出1400余项科技成果，并现场完成32个校企成果转化项目签约。2017年举办第二届京津冀高校院所成果转化对接会，京、津、保三地的14所高等院校推出1770余项科技成果，现场完成24个校企成果转化项目签约。</p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">保定市生产力促进中心自成立以来，秉承“走访企业无终点、服务发展不停步”的信念，走访了大量企业，不仅宣传了科技政策，也征集到大量真实的企业需求。通过正在开展的各项业务工作，掌握了本市企业和各级创新平台资源，为开展好创新券审核发放工作奠定了良好基础。</p>
                    <p id="page7" class="mt5" style="color:#1153a1;line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">联系人：王杰 0312-6776360、0312-6776361</p>
                    <p class="bk_d_b_1_ddd pt15"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="Mymodel13" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">
            <!--页面头部-->
            <div class="modal-header">
                <!--关闭按钮-->

            </div>
            <!--页面中各字段-->
            <div class="modal-body" id="modal-Service13">
                <div class="kjq_help" style="margin: 20px 50px">
                    <p class="mt15" style="text-align:center;"><span style="font-size: 26px; color: #fe9305; font-family: 'Microsoft YaHei'; ">秦皇岛市生产力促进中心</span></p>
                    <p id="page7" class="mt5" style="text-indent: 2em; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">秦皇岛市生产力促进中心是2002年经市政府批准成立的科技中介服务机构，中心先后被国家科技部认定为“国家级示范生产力促进中心”、科技部创新基金定点服务机构，并被科技部授予为“全国技术市场工作先进集体”，中心还获得了由中国技术市场协会颁发的“金桥奖”先进集体称号。现有办公面积180 ㎡ ，内设独立机房，建有门户网站秦皇岛生产力网（www.qhdinfo.gov.cn),中心下设四个部门：项目申报部、培训市场部、科技综合部。现有员工22人，全部具有专科以上学历。其中专职工作人员10人，外聘专职工程师及专业咨询人员16人，其中高级职称5人，中级职称3人。中心下设有秦皇岛市高新技术产业协会、秦皇岛市中小企业技术创新基金服务机构、秦皇岛市科技查新代理站、京冀区域科技术创新服务平台秦皇岛工作站，并与秦皇岛市情报研究院、秦皇岛市科技投资公司、秦皇岛市育兴高新技术创业有限公司联合建立了秦皇岛首个国家级科技企业孵化器。中心建立了技术专家库，共涉及9个组别8个技术领域，共有正高级职称专家204人，分别供职于企业、大专院校以及科研单位。中心曾承办3届全国科技成果巡回展，参与过8项国家和省重大技术创新和工程建设项目平台建设，中心现有技术转移、产学研、创新方法三个方层的服务平台，是秦皇岛市科技服务的重要平台。中心背靠政府，依托市场，面向企业，不以盈利为目的，架设政府、企业、科技、金融之间的桥梁，中心下辖的秦皇岛市高新技术产业协会，聚集了科技型企业，以及与高新技术产业密切相关的研究开发、科技风险投资、担保、金融、证券机构、中介机构等单位，为中小企业提供全方位、多层次、综合性全程服务。构建了多个专业化服务平台，主要开展科技中介、科技教育、科技政策咨询、科技招商、科普宣传等以科技为中心的特色服务。</p>
                    <p id="page7" class="mt5" style="color:#1153a1;line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">联系人：王保权 0335-3639706</p>
                    <p class="bk_d_b_1_ddd pt15"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="Mymodel2" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-content">
            <!--页面头部-->
            <div class="modal-header">
                <!--关闭按钮-->
            </div>
            <!--页面中各字段-->
            <div class="modal-body" id="modal-Service2">
                <div class="kjq_help" style="margin: 20px 50px">
                    <p class="mt15" style="text-align:center;"><span style="font-size: 26px; color: #fe9305; font-family: 'Microsoft YaHei'; ">河北省协同创新中心</span></p>
                    <p class="mt5" style="text-indent: 20px; line-height: 30px;font-size: 13pt;text-indent: 20px; font-family: 'Microsoft YaHei';">河北省协同创新中心（原河北省科技开发中心）成立于1986年，是河北省科技厅直属、独立法人事业单位。主要从事技术转让、技术咨询、技术服务、技术培训等面向社会的科技服务工作。建有“河北科技合作招商网”、“河北大型科学仪器资源共享服务联盟”和“京津冀技术交易河北平台”三大门户网站。2005年通过ISO9001质量管理体系认证。是“科技成果转化促进联盟”常务理事单位、“京津冀技术转移协同创新联盟”理事单位、“中国产学研合作公共服务平台战略联盟”理事单位、“河北省技术转移机构联盟”理事单位；国家技术转移示范机构，中国创新驿站河北省创新驿站区域站点。荣获“2012年河北省服务质量奖”、“2013年中国产学研合作促进奖”。</p>
                    <p class="mt5" style="color:#1153a1;line-height: 30px;font-size: 13pt;text-indent: 20px;text-indent: 20px; font-family: 'Microsoft YaHei';">联系人：苏爱勤 0311-86056738、18631151595</p>
                    <p class="bk_d_b_1_ddd pt15"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="backdrop fade in"></div>
    <script src="js/layui.all.js"></script>
    <script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>
    <script>
        //layui点击导航切换页面
        layui.use(['element', 'carousel'], function () {
            var element = layui.element,//导航的hover效果、二级菜单等功能，需要依赖element模块
                carousel = layui.carousel;
            //监听导航点击
            element.on('nav(demo)', function (elem) { });
            //banner切换
            var imgH = $('#carousel-item img')[0].height;
            $('#carousel-item').height(imgH);
            window.onload = function () {
                var bannerH = $('#carousel-item img')[0].height;
                $('#carousel-item').css('height', bannerH + 'px');
            }
            carousel.render({
                elem: '#carousel'
                , arrow: 'always'
                , width: "100%"
                , height: "auto"
            });
        });

        function Look(tableId) {


            layer.open({
                title: "审核发放机构信息",
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                area: ['1204px', 'auto'], //宽高
                content: $("#Mymodel" + tableId),
                end: function () { //关闭后回调函数
                    $('.modal').hide();


                }
            });

        }

    </script>
    <script type="text/javascript" src="js/footer.js"></script>
</body>
</html>

